################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MasaTest/FileContentIndex/cc3a7d2d-44a3-4770-bc92-c35fe2fa9fbe.vsidx
